body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
}

.links {
    display: flex;
    list-style-type: none;
    gap: 12px;
}

a {
    text-decoration: none;
    color: black;
}

.content {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    
}